# Dependencies
node_modules/
client/node_modules/
server/node_modules/
server/uploads/

# Environment files
.env
.env.*
client/.env
server/.env

# Builds
dist/
client/dist/
server/dist/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db